.cart__list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 2vh;
    overflow-y: auto;
    max-height: 60vh;
    margin-top: 5vh;
    padding: 20px 0;
}

.cart__list::-webkit-scrollbar-track{
    background-color: red;
}

.cart__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 2vh;
    background-color: antiquewhite;
    border: 2px solid black;
    width: 55vw;
}

.cart__item img{
    width: 100px;
    height: 100px;
}

.cart__item div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    box-sizing: border-box;
    @media (max-width: 450px){flex-direction: column;}
}

h2{
 text-align: center;
}

.btn__container{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15%;
}

button{
    padding: 15px;
    cursor: pointer;
}

.back__btn{
    background-color: red;
}

.back__btn a{text-decoration: none; color: white;}

.buy__btn{
    background-color: green;
    color: white;
}