.login__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login__section-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginBtns{
    display: flex;
    flex-direction: row;
    column-gap: 5vh;
    position: relative;
    top: 30vh;
    @media (max-width: 784px){
        flex-direction: column;
        top: 0;
    }
}

.loginBtns button{
    width: 15vw;
}
