.register__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register__section-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.registerBtns{
    display: flex;
    flex-direction: row;
    column-gap: 5vh; 
    position: relative;
    top: 9.3vh;
    @media (max-width: 784px){
        flex-direction: column;
        top: 0;
    }
}

.registerBtns button{
    width: 15vw;
}