.hidden{
    display: none;
}

.sesion__section{
   width: 80vw;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.sesion__article{
    display: flex;
    row-gap: 5vh;
    flex-direction: column;
    align-items: center;
    height: min-content;
    width: 50vw;
    padding: 2%;    
    background-color: white;
    border-radius: 15px;
    @media (max-width: 785px){
        width: 100%;
    }
}

.show__login{
    height: 100%;
}


.sesion__article-btns{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 575px){
    }
}

.btnLogin, .btnRegister{
    width: 40%;
    background-color: transparent;
    border: 0px;
    border-bottom: 2px solid #000000;
    border-radius: 0px;
    color: black;
    &:hover{
        border-bottom: 2px solid red;
        background-color: transparent;        
    }
    
}