.card__body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  @media screen and (max-width: 1040px) {
    .card__body {
      grid-template-columns: 1fr 1fr;
      gap: 0.5rem;
    }
  }
  @media screen and (max-width: 640px) {
    .card__body {
      grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  }

  